P {
	FONT-FAMILY: times new roman, minion web, times, serif
}
UL {
	FONT-FAMILY: times new roman, minion web, times, serif
}
BLOCKQUOTE {
	FONT-FAMILY: times new roman, minion web, times, serif
}
.VSfP {
	FONT-FAMILY: times new roman, minion web, times, serif
}
.VSfB {
	FONT-FAMILY: times new roman, minion web, times, serif
}
H1 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
H2 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
H3 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.H3 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
H4 {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.VSnP {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.VSnPSm {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.VSnB {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.VSnBSm {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FullStory {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.t1caption {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.t1caption {
	FONT-FAMILY: verdana
}
P {
	COLOR: #000000
}
UL {
	COLOR: #000000
}
LI {
	COLOR: #000000
}
H1 {
	COLOR: #000000
}
H2 {
	COLOR: #000000
}
H3 {
	COLOR: #000000
}
.H3 {
	COLOR: #000000
}
.H3:link {
	COLOR: #000000
}
.H3:visited {
	COLOR: #000000
}
H4 {
	COLOR: #000000
}
BLOCKQUOTE {
	COLOR: #000000
}
.VSfP {
	COLOR: #000000
}
.VSfB {
	COLOR: #000000
}
.VSnP {
	COLOR: #000000
}
.VSnPSm {
	COLOR: #000000
}
.VSnB {
	COLOR: #000000
}
.VSnBSm {
	COLOR: #000000
}
.FullStory {
	COLOR: #000000
}
.t1caption {
	COLOR: #000000
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
.H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
.VSnB {
	FONT-WEIGHT: bold
}
.VSnBSm {
	FONT-WEIGHT: bold
}
.VSfB {
	FONT-WEIGHT: bold
}
.FullStory {
	FONT-WEIGHT: bold
}
.t1caption {
	FONT-WEIGHT: bold
}
H1 {
	FONT-SIZE: 16pt
}
H2 {
	FONT-SIZE: 14pt
}
H3 {
	FONT-SIZE: 13pt
}
.H3 {
	FONT-SIZE: 13pt
}
H4 {
	FONT-SIZE: 12pt
}
UL {
	FONT-SIZE: 10pt
}
LI {
	FONT-SIZE: 10pt
}
BLOCKQUOTE {
	FONT-SIZE: 10pt
}
.VSfP {
	FONT-SIZE: 10pt
}
.VSfB {
	FONT-SIZE: 10pt
}
.VSnP {
	FONT-SIZE: 10pt
}
.VSnB {
	FONT-SIZE: 10pt
}
.t1caption {
	FONT-SIZE: 10pt
}
P {
	FONT-SIZE: 11pt
}
.FullStory {
	FONT-SIZE: 9pt
}
.VSnPSm {
	FONT-SIZE: 9pt
}
.VSnBSm {
	FONT-SIZE: 9pt
}
UL {
	LINE-HEIGHT: 1.4em
}
.pad {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
BODY {
	MARGIN-TOP: 2px; MARGIN-LEFT: 2px
}
.FSnPSmLt {
	COLOR: #ffffff
}
.FSnpSmLt:link {
	COLOR: #ffffff
}
.FSnBSmLt {
	COLOR: #ffffff
}
.FSnBSmLt:link {
	COLOR: #ffffff
}
.FSnBMdLt {
	COLOR: #ffffff
}
.FSnBMdLt:link {
	COLOR: #ffffff
}
.FSnPSmDk {
	COLOR: #000000
}
.FSnPMdDk {
	COLOR: #000000
}
.FSnBSmDk {
	COLOR: #000000
}
.FSnBMdDk {
	COLOR: #000000
}
.FSnBLgDk {
	COLOR: #000000
}
.MStories {
	COLOR: #000000
}
.RelLink {
	COLOR: #000000
}
.RelHead {
	COLOR: #000000
}
.FSnPSmLt {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnPSmDk {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnPMdDk {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnBSmLt {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnBMdLt {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnBSmDk {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnBMdDk {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnBLgDk {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.RelHead {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.RelLink {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.MStories {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnBSmLt {
	FONT-WEIGHT: bold
}
.FSnBMdLt {
	FONT-WEIGHT: bold
}
.FSnBSmDk {
	FONT-WEIGHT: bold
}
.FSnBMdDk {
	FONT-WEIGHT: bold
}
.FSnBLgDk {
	FONT-WEIGHT: bold
}
.MStories {
	FONT-WEIGHT: bold
}
.FSnBLgDk {
	FONT-SIZE: 18px
}
.FSnBMdDk {
	FONT-SIZE: 14px
}
.MStories {
	FONT-SIZE: 14px
}
.FSnPMdDk {
	FONT-SIZE: 13px
}
.FSnBMdLt {
	FONT-SIZE: 13px
}
.RelLink {
	FONT-SIZE: 13px
}
.FSnPSmLt {
	FONT-SIZE: 11px
}
.FSnPSmDk {
	FONT-SIZE: 11px
}
.FSnBSmLt {
	FONT-SIZE: 11px
}
.FSnBSmDk {
	FONT-SIZE: 11px
}
.RelHead {
	FONT-SIZE: 11px
}
.VSn {
	FONT-FAMILY: arial, helvetica, sans-serif
}
.FormLt1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, courier new, courier, sans-serif; BACKGROUND-COLOR: #ffffff
}
.FormDk1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, courier new, courier, sans-serif; BACKGROUND-COLOR: #ffffff
}
.FormDk1 {
	COLOR: #ffffff; BACKGROUND-COLOR: #999999
}
.Nav {
	LINE-HEIGHT: 110%
}
.NvSmBDk {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial, verdana
}
.NvSmBDk:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial, verdana
}
.NvSmPLt {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial, verdana
}
.NvSmPDk {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial, verdana
}
.NvSmPDk:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial, verdana
}
.NvSmBVar {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial, verdana
}
.NvSmBLt {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial, verdana
}
.NvSmPDk {
	FONT-WEIGHT: normal
}
.NvSmPLt {
	FONT-WEIGHT: normal
}
.NvSmBDk {
	FONT-WEIGHT: bold
}
.NvSmBVar {
	FONT-WEIGHT: bold
}
.NvSmBLt {
	FONT-WEIGHT: bold
}
.NvSmBVar {
	COLOR: #990000
}
.NvSmBVar:link {
	COLOR: #990000
}
.NvSmPLt {
	COLOR: #ffffff
}
.NvSmPLt:link {
	COLOR: #ffffff
}
.NvSmBLt {
	COLOR: #ffffff
}
.NvSmBLt:link {
	COLOR: #ffffff
}
.Bnr1 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr2 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr3 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.Bnr3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #666666; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.NNTxt {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.NNTxtHome {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.NNTxtHome2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.NNMore {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.NNSection {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.NNSecMain {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.NNTitle {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.NNTxtHome {
	FONT-SIZE: 13px
}
.NNSection {
	FONT-SIZE: 13px
}
.NNSecMain {
	FONT-WEIGHT: bold
}
.BlLink {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.BlSnBVar {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.BlSnPVar {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: arial, helvetica, sans-serif
}
.BlSnBVar {
	COLOR: #cc0000
}
.BlSnBVar:link {
	COLOR: #cc0000
}
.BlSnPVar {
	COLOR: #cc0000
}
.BlSnPVar:link {
	COLOR: #cc0000
}
.BlSnBVar {
	FONT-WEIGHT: bold
}
.BoxTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxTitle:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxStory {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxStory:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxStoryLt {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxTxt {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxTxt:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxTxtDk {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxTxtDk:link {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxTxtLt {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.BoxStoryLt {
	COLOR: #ffffff
}
.BoxStoryLt:link {
	COLOR: #ffffff
}
.BoxTxtLt {
	COLOR: #ffffff
}
.BoxTxtLt:link {
	COLOR: #ffffff
}
.videobox {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: geneva, verdana, arial, helvetica, sans-serif
}
.BackToTop {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000099; FONT-FAMILY: arial, helvetica, sans-serif
}
.caption {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.byline {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: arial, helvetica, sans-serif
}
.timestamp {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.rightsreserved {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: geneva, verdana, arial, helvetica, sans-serif
}
.wire {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: arial, helvetica, sans-serif
}
.FSnPSmDkI {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: arial, helvetica, sans-serif
}
.RfStory {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, verdana; TEXT-DECORATION: none
}
.RfStory:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, verdana; TEXT-DECORATION: none
}
.RfMain {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, verdana; TEXT-DECORATION: none
}
.RfMain:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, helvetica, verdana; TEXT-DECORATION: none
}
.RfMain {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #000099
}
.BackToTop:visited {
	COLOR: #000099
}
A.t1:link {
	COLOR: #000000
}
A.t1:visited {
	COLOR: #000000
}
A:active {
	COLOR: #ff0000
}
A.t1:active {
	COLOR: #ff0000
}
.NvSmBVar:hover {
	COLOR: #ff0000
}
.BackToTop:hover {
	COLOR: #ff0000
}
.BackToTop:hover {
	COLOR: #ff0000
}
A:visited {
	COLOR: #999999
}
.BlSnPVar:visited {
	COLOR: #cc0000
}
.BlSnBVar:visited {
	COLOR: #cc0000
}
.RfStory:visited {
	COLOR: #ffffff
}
.RfMain:visited {
	COLOR: #ffffff
}
.NvSmBLt:visited {
	COLOR: #ffffff
}
.NvSmPLt:visited {
	COLOR: #ffffff
}
.NvSmPDk:visited {
	COLOR: #000000
}
.NvSmBDk:visited {
	COLOR: #000000
}
.NNTitle:visited {
	COLOR: #000000
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
A.t1:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
A.t1:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.BlSnBVar:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.BlSnBVar:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.BlSnPVar:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.BlSnPVar:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.Bnr1:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.Bnr1:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.Bnr2:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.Bnr2:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.Bnr3:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.Bnr3:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.RfStory:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.RfStory:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.RfMain:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.RfMain:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmBLt:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmBLt:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmPLt:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmPLt:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmPDk:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmPDk:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmBDk:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NvSmBDk:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NNTitle:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.NNTitle:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.extraspace {
	FONT-WEIGHT: bold; FONT-SIZE: 7px; COLOR: #000000; LINE-HEIGHT: 80%; FONT-FAMILY: verdana, helvetica, arial
}
.quarterspace {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 25%; FONT-FAMILY: verdana, helvetica, arial
}
.Navspacer {
	WORD-SPACING: 3px; LETTER-SPACING: 0px
}
.Onespaceindent {
	MARGIN-LEFT: 0.1em
}
.Twospaceindent {
	MARGIN-LEFT: 0.2em
}
.Threespaceindent {
	MARGIN-LEFT: 0.3em
}
.Fourspaceindent {
	MARGIN-LEFT: 0.4em
}
.Fivespaceindent {
	MARGIN-LEFT: 0.5em
}
.Navthreespaceindent {
	MARGIN-LEFT: 0.3em; LINE-HEIGHT: 110%
}
.SmallNavBoldBlack {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial
}
.SmallNavNormBlack {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial
}
.NavBoldBlack {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial
}
.NavNormBlack {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial
}
.SmallNavBoldRed {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #cc0000; FONT-FAMILY: verdana, helvetica, arial
}
.SmallNavNormRed {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #cc0000; FONT-FAMILY: verdana, helvetica, arial
}
.NavBoldRed {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: verdana, helvetica, arial
}
.NavNormRed {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: verdana, helvetica, arial
}
.NavBoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, helvetica, arial
}
.NavNormWhite {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, helvetica, arial
}
.NavBoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666699; FONT-FAMILY: verdana, helvetica, arial
}
.NavNormBlue {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666699; FONT-FAMILY: verdana, helvetica, arial
}
.EuroEditionT2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.OrangeHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: arial, helvetica, sans-serif
}
.BlackBackToTop {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.GreenBackToTop {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #006600; FONT-FAMILY: arial, helvetica, sans-serif
}
.EuroRfStory {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.EuroRfStory:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.EuroRfMain {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.EuroRfMain:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.EuroRfStory:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.EuroRfStory:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.EuroRfMain:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.EuroRfMain:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: verdana, helvetica, arial; TEXT-DECORATION: none
}
.ArchiveHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: arial, helvetica, sans-serif
}
.ArchiveDate {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #990000; FONT-FAMILY: arial, helvetica, sans-serif
}
.RedNNTxtHome {
	FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: arial, helvetica, sans-serif
}
